
* {
  padding: 0;
  margin: 0;
}

body {
  background: #140309;
}

@font-face {
  font-family: TTRamillasRegular;
  src: url("/fonts/TTRamillasRegular.ttf");
}

@font-face {
  font-family: AtypDisplay;
  src: url("/fonts/AtypDisplay-Regular.ttf");
}

@font-face {
  font-family: AtypDisplaySemiBold;
  src: url("/fonts/AtypDisplay-SemiBold.ttf");
}

@font-face {
  font-family: AtypDisplaythin;
  src: url("/fonts/AtypDisplay-Thin.ttf");
}

.sectionHeading{
  font-family: TTRamillasRegular, sans-serif;
  font-weight:  700;
  letter-spacing: -0.01em;
  line-height: 85%;
}

.sectionSubheading{
  font-family: AtypDisplaySemiBold, sans-serif;
  font-weight:  700;
  margin-bottom: 1em;
}

.accordionSubHeading{
  font-family: AtypDisplaySemiBold, sans-serif;
  font-weight:  700;
}

.paragraph{
  font-family: AtypDisplay, sans-serif;
  line-height: 162%;
}

.paragraph>.variant{
  font-weight: 400;
  color: #FFFDF6;
}

/*
Card Styling
*/
.sectionCard{
  border-radius: 4%;
  padding: 1em;
}

.cardContent{
  width: 80%;

}

.cardContent>h6{
  font-family: AtypDisplaySemiBold, sans-serif;
  font-weight: 600;
}

.cardContent>p{
  width: 100%;
  font-family: AtypDisplay, sans-serif;
  font-weight: 400;
  line-height: 162%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 6;
  -webkit-box-orient: vertical;

}

.cardHeader{
  display: flex;
  align-self: flex-start;
}

.cardHeaderAvatar{
  width: 4em;
  height: 4em;
}


/*
* Footer
*/
.caption{
  font-family: AtypDisplaythin, sans-serif;
  font-weight: 300;
}
